@import 
url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}

body {
    font-family: "Inter";
    margin: 0;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.container {
    background-color: var(--purple);
    max-width: 450px;
}

h1, h2 {
    font-family: "Kavoon";
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    color: var(--white);
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    text-align: left;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
    margin-left: 1rem;
}

h4 {
    font-size: 1.15em;
    font-weight: bold;
    color: var(--purple);
    margin: 0;
}

.nav-h2 {
    font-size: 1.5em;
    font-family: "Inter";
    font-style: italic;
    margin: 0;
}

.hero {
    text-align: center;
    color: var(--white);
    padding: 1.25rem 1rem 0.75rem;
}

.hero h1 {
    margin: 0;
}

.tagline {
    margin: 0.25rem 0 0;
    font-size: 0.9rem;
}

.menu {
    background-color: var(--yellow);
    text-align: center;
    padding: 0.75rem;
    margin-top: 2rem;
}

.menu a {
    display: block;
    background-color: var(--white);
    color: var(--dark-gray);
    text-decoration: none;
    padding: 0.5rem;
    margin-top: 0.4rem;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--purple);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.coaching {
    color: var(--yellow);
    font-size: 1.25rem;
    padding-left: 1rem;
    margin-top: 0.3rem;
    text-align: left;
}

.personal-development {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
}

.personal-development p {
    margin: 0.5rem 0 0 0;
    line-height: 1.4;
}

.career-coaching {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
}

.career-coaching p {
    margin: 0.5rem 0 0 0;
    line-height: 1.4;
}

.relationship-coaching {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
}

.relationship-coaching p {
    margin: 0.5rem 0 0 0;
    line-height: 1.4;
}

.supportive-community {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
}

.supportive-community p {
     margin: 0.5rem 0 0 0;
    line-height: 1.4;
}

.focused-session {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
}

.focused-session p {
    margin: 0.5rem 0 0 0;
    line-height: 1.4;
}

.interactive-learning {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
}

.interactive-learning p {
    margin: 0.5rem 0 0 0;
    line-height: 1.4;
}

.flexible-learning {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem;
}

.flexible-learning p {
    margin: 0.5rem 0 0 0;
    line-height: 1.4;
}

.why-choose {
    background-color: var(--pink);
    padding: 1rem;
    margin: 1rem 0;
}

.benefits {
    list-style: none;
    margin: 0 1rem 1.5rem;
    margin-top: 0.5rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
}

.benefits li {
    border-radius: 0.8rem;
    padding: 1.5rem 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.teal {
    background-color: var(--teal);
}

.lavender {
    background-color: var(--lavender);
}

.yellow {
    background-color: var(--yellow);
}

.white {
    background-color: var(--white);
}

.one-on-one {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 1.5rem;
    background-color: var(--white);
}

.one-on-one th,
.one-on-one td {
    padding: 0.75rem 1rem;
    text-align: center;
    border: 2px solid var(--yellow);
}

.one-on-one th {
    background-color: var(--yellow);
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.group-coaching {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 1.5rem;
    background-color: var(--white);
}

.group-coaching th,
.group-coaching td  {
    padding: 0.75rem 1rem;
    text-align: center;
    border: 2px solid var(--yellow);
}

.group-coaching th {
    background-color: var(--yellow);
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.workshops {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 1.5rem;
    background-color: var(--white);
}

.workshops th,
.workshops td {
    padding: 0.75rem 1rem;
    text-align: center;
    border: 2px solid var(--yellow);
}

.workshops th {
    background-color: var(--yellow);
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.online-courses {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 1.5rem;
    background-color: var(--white);
}

.online-courses th,
.online-courses td {
    padding: 0.75rem 1rem;
    text-align: center;
    border: 2px solid var(--yellow);
}

.online-courses th {
    background-color: var(--yellow);
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.first-step {
    background-color: var(--pink);
    padding: 1.5rem 1rem 2rem;
    margin: 1.5rem 0;
    text-align: left;
    color: var(--white);
    text-align: center;
}

.first-step h2 {
    margin-top: 0;
}

.first-step p {
    margin: 0.35rem 0 1.35rem;
    line-height: 1.3;
    text-align: left;
}

.schedule-now {
    display: inline-block;
    background-color: var(--white);
    padding: 0.6rem 1.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-gray);
    padding: 1rem 8rem;
    box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.7);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    color: var(--white);
    font-size: 0.85rem;
    margin-top: 1rem;
}

footer p,
footer a {
   color: var(--white);
   text-decoration: none;
   margin: 0;
   padding: 1rem 1rem 2rem;
}

.link {
    text-decoration: underline;
}

